# Mac system files
.DS_Store

# Python cache
__pycache__/
*.pyc
*.pyo

# Virtual environments
.venv/
elliptic-env/

# Jupyter
.ipynb_checkpoints/

# Raw data (do not upload)
data/

# Lets ignore all CSV and zip large data files，but keep their structures
data/**/*.csv
data/**/*.zip
data/**/*.json
